.test-library-container {
	position: absolute;
	top: 10%;
	left: 10%;
	width:80%;
	background-color: black;
	color: white;
	opacity: .0;
	text-align: left;
	z-index: 9999;
	padding: 20px;
	transition: 1s all;
}

.test-library-container.active {
	opacity: .8;
	transition: 1s all;
}