<!DOCTYPE html>
<html>
<head>
  <title>Google Drive Realtime quickstart</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Load Styles -->
  <link href="css/testingStyles.css" rel="stylesheet" />
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400' rel='stylesheet' type='text/css'>
  <link href='css/highlight-theme.css' rel='stylesheet' type='text/css'>

  <!-- Load the Realtime libraries. -->
  <script type="text/javascript"
          src="https://apis.google.com/js/api.js"></script>

  <script type="text/javascript"
          src="tests/testDocument.js"></script>

  <!-- Load the utility library. -->
  <script type="text/javascript"
          src="vendor/realtime-client-utils.js"></script>

  <!-- Libraries -->
  <script type="text/javascript" src="vendor/jquery.js"></script>
  <script type="text/javascript" src="vendor/underscore.js"></script>
  <script type="text/javascript" src="vendor/hljs.js"></script>
  <script type="text/javascript" src="vendor/testingClass.js"></script>
  <script type="text/javascript" src="vendor/testingLibrary.js"></script>
  <script type="text/javascript" src="vendor/d3.js"></script>
  <script type="text/javascript" src="tests/progress.js"></script>

</head>

<!-- Start Realtime when the body has loaded. -->
<body onLoad='startRealtime()'>

  <script>
    window.testSuite = new FunctionalTesting('Google Drive Realtime API Test Suite');
    $('body').append(testSuite.$el);

    /**
     * This function is called the first time that the Realtime model is created
     * for a file. This function should be used to initialize any values of the
     * model. In this case, we just create the single string model that will be
     * used to control our text box. The string has a starting value of 'Hello
     * Realtime World!', and is named 'text'.
     * @param model {gapi.drive.realtime.Model} the Realtime root model object.
     */
    function initializeModel(model) {
      window.testDocument1 = new TestDocument(model, 'alpha');
    }

    /**
     * This function is called when the Realtime file has been loaded. It should
     * be used to initialize any user interface components and event handlers
     * depending on the Realtime model. In this case, create a text control binder
     * and bind it to our string model that we created in initializeModel.
     * @param doc {gapi.drive.realtime.Document} the Realtime document.
     */
    function onFileLoaded(doc) {
      testDocument1.doc = doc;
      gapi.drive.realtime.load(window.fileId, onSecondFileLoaded, initSecondModel, handleErrors);
    }

    function handleErrors () {}

    function initSecondModel(model) {}

    function onSecondFileLoaded(doc) {
      window.testDocument2 = new TestDocument(doc.getModel(), 'beta');
      testDocument2.doc = doc;
      testSuite.execute();
    }

    /**
     * Options for the Realtime loader.
     */
    var realtimeOptions = {
      /**
       * Client ID from the console.
       */
      clientId: '840867953062.apps.googleusercontent.com',

      /**
       * The ID of the button to click to authorize. Must be a DOM element ID.
       */
      authButtonElementId: 'authorizeButton',

      /**
       * Function to be called when a Realtime model is first created.
       */
      initializeModel: initializeModel,

      /**
       * Autocreate files right after auth automatically.
       */
      autoCreate: true,

      /**
       * The name of newly created Drive files.
       */
      defaultTitle: "New Realtime Quickstart File",

      /**
       * The MIME type of newly created Drive Files. By default the application
       * specific MIME type will be used:
       *     application/vnd.google-apps.drive-sdk.
       */
      newFileMimeType: null, // Using default.

      /**
       * Function to be called every time a Realtime file is loaded.
       */
      onFileLoaded: onFileLoaded,

      /**
       * Function to be called to inityalize custom Collaborative Objects types.
       */
      registerTypes: null, // No action.

      /**
       * Function to be called after authorization and before loading files.
       */
      afterAuth: null // No action.
    }

    /**
     * Start the Realtime loader with the options.
     */
    function startRealtime() {
      var realtimeLoader = new rtclient.RealtimeLoader(realtimeOptions);
      realtimeLoader.start();
    }

  </script>

  <!-- Test Files -->
  <script type="text/javascript" src="tests/collaborativeListTests.js"></script>
  <script type="text/javascript" src="tests/collaborativeMapTests.js"></script>
  <script type="text/javascript" src="tests/collaborativeStringTests.js"></script>
  <script type="text/javascript" src="tests/collaboratorObjectTests.js"></script>
<!--   <script type="text/javascript" src="tests/documentTests.js"></script>
 -->  <script type="text/javascript" src="tests/documentSaveStateChangedEventTests.js"></script>
  <script type="text/javascript" src="tests/errorTests.js"></script>
  <script type="text/javascript" src="tests/indexReferenceTests.js"></script>
  <script type="text/javascript" src="tests/modelTests.js"></script>
  <script type="text/javascript" src="tests/realtimeTests.js"></script>
  <script type="text/javascript" src="tests/referenceShiftedEventTests.js"></script>
  <script type="text/javascript" src="tests/textDeletedEventTests.js"></script>
  <script type="text/javascript" src="tests/undoRedoStateChangedEventTests.js"></script>
  <script type="text/javascript" src="tests/textInsertedEventTests.js"></script>
  <script type="text/javascript" src="tests/valueChangedEventTests.js"></script>
  <script type="text/javascript" src="tests/valuesAddedEventTests.js"></script>
  <script type="text/javascript" src="tests/valuesRemovedEventTests.js"></script>
  <script type="text/javascript" src="tests/valuesSetEventTests.js"></script>

</body>
</html>